html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
}
.area {
            position: absolute;
            background: #fff;
            border: 1px solid #888;
            border-radius: 3px;
            font-size: 12px;
            top: -5px;
            left: 15px;
            padding:2px;
        }
        .info {
            font-size: 12px;
            padding: 5px;
        }
        .info .title {
            font-weight: bold;
        }

        .post{
          font-size:x-large;
          font-style: normal;
          font-weight: bold;
          color:lightgray;
          margin-top: 1.5rem;
          margin-left: 0.5rem;
          border-bottom-width: 1px;
          padding-bottom: 0.5rem;
          margin-bottom: 0.5rem;
        }
        .post:hover{
          text-decoration-line:underline;
          cursor: pointer;
        }
        .sel{
          color:black;
        }

        .button {
            display: inline-block;
            width: 120px;
            margin: 5px 10px 5px 0;
            font-weight: 800;
            text-align: center;
            line-height: 50px;
            border-radius: 5px;
            border: none;
            font-size: medium;
            color: lightgray;
            background-color: #F3F4F6;
        }
        .button:hover {
            color:white;
            background-color: dodgerblue;
            cursor: pointer;
        }
        .btn1 {
            color:white;
            background-color: dodgerblue;
        }
        
