<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tancheon</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <a class="post" onclick="location.href='/'">홈</a>
    <a class="post" onclick="location.href='/recommend'">추천로</a>
    <a class="post" onclick="location.href='/findway'">길찾기</a>
    <a class="post">게시판</a>
    <a class="post member sel" onclick="location.href='/login'">로그인</a>
    <a class="post" onclick="location.href='/join'">회원가입</a>
</div>
<hr>
<div class="wrapper">
    <div class="wrap">
        <div class="logo_wrap">
            <span>용인시 탄천길</span>
        </div>
        <div class="login_wrap">
            <div class="id_wrap">
                <div class="id_input_box">
                    <input class="id_input">
                </div>
            </div>
            <div class="pw_wrap">
                <div class="pw_input_box">
                    <input class="pw_iput">
                </div>
            </div>
            <div class="login_button_wrap">
                <input type="button" class="login_button" value="로그인">
            </div>
        </div>
    </div>
</div>
</body>
</html>